@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
  .app,
    

.app{
  /* display: flex; */
  position: relative;
}

.contentCollapsed{
  height: 100%;
  width: 83%;
  margin-left: 17%;
  font-family: 'Source Sans 3', sans-serif;
}

.contentUncollapsed{
  height: 100%;
  width: 95%;
  margin-left: 5%;
  font-family: 'Source Sans 3', sans-serif;
}

.sideBarUncollapsed{
  position: fixed;
  width:17%;
  height:100vh
}

.sideBarCollapsed{
  position:fixed;
  width:5%;
  height: 100vh;
}
::-webkit-scrollbar{
  width:10px;
}

/*Track*/
::-webkit-scrollbar-track{
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #555;
}

.CircularProgressbar{
  width: 45% !important;
}


